.flex-container {
    display: flex;
    flex-wrap: wrap;
   /* background-color: rgba(0,0,0,0.5); */
   gap: 10px;

}

.container {
    /* background-color: rgba(0,2,3,0.5); */
    height: auto;
    width: 90%;
    margin-left: 100px;
    padding: 20px;
}
.container  > img {

    height: 250px;
    width: 300px;
    margin: 20px;
    line-height: 20px;
}


